*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*COLORS*/
.green{
    background-color: #75C587;
}

.blue{
    background-color: #206675;
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 431px;
    height: 712px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.title{
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 74px auto;
}

.title-h2{
    color: #fff;
    text-align: center;
    width: 80%;
    margin: 73px auto 33px;
}


.center {
    width: 80%;
    margin: 0 auto;
}

.fixed{
    position: fixed;
}

/*ESTILIZAÇÃO DO INPUT*/
.input-style{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.hand{
    cursor: pointer;
}

.btn{
    border: none;
    outline: none;
    color: #000;
    font-weight: 600;
    padding: none;
    height: 40px;
}

.flex{
    display: flex;
}

div.list{
    width: 86%;
    height: 36px;
    padding: 8px;
    margin-bottom: 15px;
    background-color: #fff;
}

.del-item{
    width: 14%;
    height: 36px;
    padding: 8px;
    margin-bottom: 15px;
    background-color: #CF5252;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-font{
    font-size: 14px;
}

.container-products{
    height: 200px;
    overflow: auto;
}





